<%- include("partials/header.ejs") %>

<h1 class="achieve-head">Achievements</h1>
  <!-- <p class="achieve-para"> -->
  <ul> 
    <li class="item">  Experience of solving 400+ problems across various coding
    platforms such as LeetCode, CodeChef, HackerRank, etc.
    </li>
    <li class="item"> Earned Gold Badge in C++, Silver Badge in Java and Python on
    HackerRank.
    </li>
    <li class="item"> Completed Google Cloud Fundamentals Course on Coursera,
    understanding components of Cloud Infrastructure and getting
    hands-on experience with cloud functionalities.
    </li>
    <li class="item">Got qualified for the second round of Insight event in Pulzion'23 
    which involved writing an essay on real-life topics.
    </li>
    <li class="item">Participated in Intra-College Debate Competition and got
    qualified for the second round.
    </li>
</ul> 
<!-- </p> -->

<%- include("partials/footer.ejs") %>