<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/Profile_Photo.jpg" alt="my profile">
<p>
  Myself Pranav Ramkishore Bhutra from Ichalkaranji, Maharashtra. I am currently pursuing my Bachelor of Computer Engineering
  from PICT, Pune. I have explored domains of Web Development, Data Science and Machine Learning and have also contributed for 
  group projects in this domains. I have developed my coding skills in Data Structures and Algorithms by solving problems on 
  various platforms such as Leetcode, Hackerrank, and many more. I have also did an internship in Web Development field at 
  PLUS RGK Infotech (India) Pvt. Ltd. wherein I designed various websites using Content Management System Platform such as WordPress
  and also got to learn about working of Accounting Softwares in business firms. I am tech-enthusiast, self-learner eager to excel in
  challenging environment and learn new skills and solve problems that could contribute towards organizational growth.
</p>
  <%- include("partials/footer.ejs") %>