<%-include("partials/header.ejs")%>

<h1> My Skills </h1>

<div class="row">

    <div class="column">    
    <h4 class="skill-head"> Technical Skills </h4>
    <ul class="tskill-list">
        <li class="item1">Languages - C++, Java, Python</li>
        <li class="item1">Databases - SQL, MongoDB</li>
        <li class="item1">Front-end - HTML, CSS, JavaScript, Bootstrap</li>
        <li class="item1">Back-end - Node.js, Express.js, EJS</li>
        <li class="item1">Tools and Libraries - Git, Numpy, Pandas</li>
    </ul>
    </div>

    <div class="column">
        <h4 class="skill-head1"> Other Skills </h4>
        <ul class="tskill-list1">
            <li class="item1">Communication</li>
            <li class="item1">Content-writing</li>
            <li class="item1">Teamwork</li>
            <li class="item1">Leadership</li>
            <li class="item1">Problem-Solving</li>
        </ul>
    </div>
</div>


<%-include("partials/footer.ejs")%>