html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 4vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

p {
  color: grey;
}

.achieve-head{
  padding-bottom:15px;
}

.profile {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.profile1 {
  margin-top: 65px;
  height: 225px ;
  width: 500px;
  object-fit:contain; 
}

.profile2 {
  height: 350px ;
  width: 450px;
  margin-left: 13px;
  object-fit:contain;
}

.item{
  padding-top: 25px;
  text-align: left;
}

.tskill-list{
  padding-left: 18%;
  float: left;
}

.p-item{
  text-align: left;
  font-weight: 300;
  padding-top: 10px;
}

.row {
  display: flex;
}

.proj-head{
  padding-left:50px;
}

.head-proj{
  margin-top: 10px;
  padding-right:10%;
}

.column {
  flex: 50%;
}

.sold{
  margin-top: 20px;
}

.snew{
  margin-top: 40px;
}

.tskill-list1{ 
  float: right;
  padding-right: 33%;
}

.skill-head{
  padding-left: 27%;
  text-align: left;
}

.skill-head1{
  padding-right: 34%;
  text-align: right;
}

.item1{
  padding-top: 25px;
  text-align: justify;
}

form {
  margin-top: 40px;
}

.feedback-input {
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 10px;
  width: 75%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #3586ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 75%;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #3586ff;
}
